body {
  background: url('images/vin-sfondo.jpg') no-repeat center center/cover;
  background-attachment: fixed;
  min-height: 100svh;
}

nav {
  background-color: white;
  padding: 10px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  ul {
    font-weight: bold;
    padding: 0 70px;
    li {
      font-size: 1.5em;

      a {
        color: black;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      &:first-child {
        font-size: 3rem;
        margin-right: 6rem;
      }
      &:last-child {
        margin-left: 6rem;
        font-size: 2rem;
      }
    }
  }
}

section.form {
  padding: 50px 0;
  display: flex;
  align-items: center;
  gap: 12rem;

  img {
    max-width: 35%;
  }

  section.forms {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    width: 30%;

    section.select {
      display: flex;
      align-items: center;
      select {
        font-size: 1.2rem;
        width: 100%;
        background-color: transparent;
        border: 1px solid #ccc;
        border-radius: 30px;
        cursor: pointer;
        padding: 10px 20px;
        color: #999;
        text-transform: uppercase;
        appearance: none;
      }
      .fa-angle-down {
        color: #ccc;
        margin-left: -3rem;
        font-size: 1.5rem;
        z-index: -1;
      }
    }
    button {
      font-size: 1.2rem;
      text-transform: uppercase;
      width: 75%;
      align-self: center;
      background-color: dodgerblue;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 30px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

/* .tipo {
  background-color: white;
  border-radius: 20px;
  justify-content: center;
  padding: 10 65px;
  align-items: center;
  position: relative;
  appearance: none;
}

main {
  font-size: 20px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 270px;
  padding-top: 9px;
}

main {
  padding-left: 750px;
  padding-top: 100px;
}

.disp {
  margin-left: 2px;
}

.marca {
  background-color: white;
  padding: 10 65px;
  border-radius: 20px;
  position: relative;
  justify-content: center;
  align-items: center;
  appearance: none;
} */
